<%= form_for(cocktail) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="mt-3">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end  %>
