<h1><%= @cocktail.name %></h1>
<p><%= link_to "Edit name", edit_cocktail_path(@cocktail) %></p>
<br>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
</div>

<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

<h6>This cocktail has the following ingredients:</h6>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> <%= dose.ingredient.name %></li>
  <p><%= link_to "Delete dose", dose_path(dose), method: :delete, data: { confirm: "Sure?" } %></p>
  <% end %>
</ul>

<br>
<h5>Add a new dose</h5>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, prompt: "Select your ingredient" %>
      <%= f.input :description, placeholder: "Quantity? ex. 4cl" %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>

<br>
<p><%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Sure?" } %></p>
<p><%= link_to "Back to all cocktails", cocktails_path %></p>
